@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div>
    <vc:delete-component action="@ViewBag.A" name="@ViewBag.N" id="@ViewBag.I" old="@ViewBag.O" all="@ViewBag.All"></vc:delete-component>
</div>